/* SECTION: import */
@font-face {
	font-family: Nunito;
	src: url(../fonts/Nunito-VariableFont_wght.ttf);
}

@font-face {
	font-family: 'JetBrains Mono';
	src: url(../fonts/JetBrainsMono-VariableFont_wght.ttf);
}

/* SECTION: reset */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* SECTION: main */
html {
	overflow: hidden;
	user-select: none;
}

.container {
	display: grid;
	width: 100vw;
	height: 100vh;
}

.header-button {
	display: grid;
	align-items: center;
	justify-items: center;
	position: absolute;
	top: 10px;
	height: 4.8vh;
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	background-color: rgb(210,210,210);
	cursor: pointer;
	transition: transform 0.45s;
}

.header-button img {
	height: 2.5vh;
}

.container > div:nth-child(1) {
	right: 30px;
	z-index: -2;
	background-color: rgb(30,30,30);
	transition: 1s ease;
	transform: scale(0);
}

.container > div:nth-child(2) {
	right: calc(4.8vh + 60px);
}

.container > div:nth-child(3) {
	right: 30px;
}

.calculator {
	justify-self: center;
	align-self: center;
	display: grid;
	grid-template: 25% 75% / 100%;
	height: 80vh;
	aspect-ratio: 1 / 1.8;
	border: solid 1px rgba(255, 255, 255, 0.15);
	border-radius: 1.5vh;
	background-color: rgb(40, 40, 40);
}

.display {
	display: grid;
	grid-template: 40% 60% / 100%;
	justify-self: center;
	align-self: center;
	width: 92%;
	height: 84%;
	font-family: "JetBrains Mono", monospace;
	border-left: solid 1vh rgb(210, 210, 210);
	border-right: solid 1vh rgb(210, 210, 210);
	border-radius: 0.8vh;
	background-color: rgb(210, 210, 210);
}

.history {
	display: grid;
	justify-items: end;
	font-size: 2.4vh;
	color: rgba(0, 0, 0, 0.28);
	width: 100%;
	height: 100%;
	padding-top: 4%;
	overflow: auto;
	overflow-y: hidden;
	white-space: nowrap;
}

.history::-webkit-scrollbar {
	height: 1.15vh;
}

.history::-webkit-scrollbar-thumb {
	border: solid 3px rgb(210, 210, 210);
	border-radius: 100vh;
	background-color: rgb(150, 150, 150);
}

.delete-history {
	position: fixed;
	display: none;
	margin-left: -2px;
	width: 3.1vh;
	height: 5.5vh;
	background-color: rgb(210, 210, 210);
}

.delete-history > img {
	justify-self: center;
	align-self: end;
	width: 3vh;
	padding-bottom: 26%;
}

.current {
	display: grid;
	grid-template: 30% 70% / 100%;
	overflow: auto;
	overflow-y: hidden;
}

.error-message {
	display: grid;
	justify-self: center;
	justify-content: center;
	align-content: center;
	font-size: 1.8vh;
	color: rgba(0, 0, 0, 0);
	width: 60%;
	height: 100%;
	border-radius: 0.5vh;
	background-color: rgba(255, 0, 0, 0);
	transition: 1s;
}

.current-screen {
	text-align: end;
	font-size: 4.65vh;
	color: rgba(0, 0, 0, 0.68);
	width: 100%;
	height: 100%;
	padding-top: 1%;
	overflow-y: hidden;
	white-space: nowrap;
}

.current-screen::-webkit-scrollbar {
	height: 1.15vh;
}

.current-screen::-webkit-scrollbar-thumb {
	border: solid 3px rgb(210, 210, 210);
	border-radius: 100vh;
	background-color: rgb(150, 150, 150);
}

.keyboard {
	display: grid;
	grid-template: repeat(5, 20%) / repeat(4, 25%);
	justify-items: center;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 1.5vh;
}

.btn {
	font-family: Nunito, Verdana;
	font-size: 3vh;
	color: rgba(255, 255, 255, 0.8);
	width: 80%;
	aspect-ratio: 1 / 1;
	border: none;
	outline: none;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0);
}

.operator, #clear, #backspace {
	background-color: rgba(255, 255, 255, 0.18);
}

#backspace {
	transform: rotate(180deg);
}

/* SECTION: animations */
html.dark {
	background-color: rgb(30, 30, 30);
}

.header-button:hover {
	transform: scale(1.25);
}

.header-button:active {
	transform: scale(1);
	transition: transform 0.15s;
}

.container div:nth-child(1).active {
	transition: 1s ease-in;
	transform: scale(500);
}

.history::-webkit-scrollbar-thumb:hover {
	background-color: rgb(20, 200, 255);
}

.delete-history.show {
	display: grid;
}

.error-message.show {
	color: rgba(0, 0, 0, 0.68);
	background-color: rgba(255, 0, 0, 0.5);
}

.current-screen::-webkit-scrollbar-thumb:hover {
	background-color: rgb(20, 200, 255);
}

.btn:hover {
	background-color: rgba(255, 255, 255, 0.15);
}

.btn:active {
	transform: scale(0.95);
}

.operator:hover, #clear:hover, #backspace:hover {
	border: solid 3px rgba(255, 255, 255, 0.18);
	background-color: rgba(255, 255, 255, 0);
}

/* SECTION: colors */
.calculator.color1 {
	background-color: rgb(125, 0, 0);
}

.calculator.color2 {
	background-color: rgb(20, 150, 0);
}

.calculator.color3 {
	background-color: rgb(0, 0, 255);
}

.calculator.color4 {
	background-color: rgb(220, 100, 180);
}

.calculator.color5 {
	background-color: rgb(0, 50, 0);
}

.calculator.color6 {
	background-color: rgb(250, 100, 70);
}

.calculator.color7 {
	background-color: rgb(80, 10, 120);
}

.calculator.color8 {
	background-color: rgb(190, 150, 0);
}

.calculator.color9 {
	background-color: rgb(0, 170, 160);
}

/* SECTION: small screens */
@media (max-width: 480px) {
	html {
		overflow: scroll;
	}

	.container div:nth-child(1).active {
		transform: scale(0);
	}

	.calculator {
		height: 100%;
		width: 100%;
		border: none;
		border-radius: 0;
	}

	.header-button {
		display: none;
	}

	.display {
		width: 100%;
		height: 100%;
		border-radius: 0;
	}

	.error-message {
		font-size: 100%;
		width: 100%;
		height: 100%;
	}
}